@font-face {
    font-family: "SF Sports Night";
    src: url("../font/SF_Sports_Night.ttf");
}


body {
    height: 100px;
    width: 400px;
    background: rgba(75,75,75);
    color: white;
    font-size: 16px;
}

h1 {
    margin: 0px;
    font-family: "SF Sports Night", sans-serif;
    font-weight: 200;
}

input {
    width: 98%;
    height: 20px;
    margin-bottom: 2px;
}

.button-container {
    display: flex;
}

button {
    flex-grow: 1;
}

